<div class="each-friends-container">
  <div class="friend-details" data-friend="<%= friend.id %>">
    <div class="friends-name">
      <p><%= friend.name.capitalize %> <br> <%= friend.email %></p>
    </div>
    <div  class="edit-button" data-target="<%= friend.id %>">
      <%= image_tag "pencil.png" %>
    </div>
  </div>
  <div id="<%= friend.id %>" class="friend-edit-form d-none">
    <%= render "friend_edit", friend: friend %>
  </div>
</div>
