<%= render 'shared/navbar' %>

<div class="log-out">
  <button class="log-out-button">
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </button>
</div>
<div class="users-name">
  <h2>
    <%= current_user.first_name.capitalize %>
    <%= current_user.last_name.capitalize %>
  </h2>
</div>

<div id="profile-menu">
  <ul>
    <li><%= link_to "Your Profile", edit_user_registration_path %></li>
    <li><%= link_to "Friends", friends_path %></li>
    <li><%= link_to "Become a PRO member", root_path %></li>
  </ul>
</div>
