<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-lewagon-white fixed-bottom">

  <%= link_to moments_path do %>
    <button type="button" class="small"><%= image_tag "carebox.png" %></button>
  <% end %>

  <%= link_to root_path do %>
    <button type="button" class="small"><%= image_tag "home.png" %></button>
  <% end %>

  <%= link_to profile_path do %>
    <button type="button" class="small"><%= image_tag "profile.png" %></button>
  <% end %>

</div>
