<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @friend.name.capitalize %>! Welcome to softmind.app.</h1>
    <p>
      Your friend <%= User.find(@friend.user_id).first_name %> has added you to a trusted list of friends.
      Use the following link to send <%= User.find(@friend.user_id).first_name %> a video/picture/message of encouragement and mental support.<br>
    </p>
    <img src="https://ichef.bbci.co.uk/news/976/mcs/media/images/82377000/jpg/_82377877_dogthinkstock.jpg" alt="puppy eyes">
    <p>
      To upload the media, follow this unique link that was generated for you: <%= link_to "Upload Moment", new_moment_url(@friend.authentication_token) %>.
    </p>
    <p>Thanks for sharing some love with <%= User.find(@friend.user_id).first_name %>, now have a great day!</p>
  </body>
</html>
</p>

