<div class="upload-moment">
  <%= simple_form_for @moment do |f| %>
    <div class="add-photos">
      <h6><strong>Add your moment — photo, video, audio, few words</strong></h6>
      <%= f.input :media, label: "ADD MEDIA" %>
      <%= f.input :media_cache, as: :hidden %>
      <%= f.input :text_content, label: "Type text" %>
    </div>
    <%= f.submit 'Publish', class: "cute-button" %>
  <% end %>
</div>
