<div class="card-white">
  <h1>Hello <%= @friend.name.capitalize %>!</h1>
  <h2 class="font">Welcome to softmind.app!</h2>
  <%= simple_form_for @moment do |f| %>
    <div class=“font1”>
    <h3 class="font1"> You’re about to upload content for your friend <%= @friend.user.first_name %>. You're a wonderful friend!</h3>
    </div><br>
    <div>
      <h4 class="font1"><strong>Upload something of value to <%= @friend.name.capitalize %>, a photo, video, audio, a few words etc. </strong></h4>
    Something that will make them smile!
    </div><br>
      <%= f.input :media, label: "add media" %>
      <%= f.input :media_cache, as: :hidden %>
      <%= f.input :text_content, label: "Type text" %>
      <%= f.input :user_id, as: :hidden, input_html: {value: @friend.user.id} %>
      <%= f.input :friend_id, as: :hidden, input_html: {value: @friend.id} %>
    </div>
    <%= f.submit 'Publish', class: "cute-button" %>
  <% end %>
</div>
