<div class="card-white">
  <h1>Hey <%= @friend.name %>!</h1><br>
  <%= simple_form_for @moment do |f| %>
    You’re about to upload encouraging content for your friend <%= User.find(@friend.user_id).first_name.capitalize %>. <br> You're a wonderful friend!<br><br>
    <p>Upload something of value to <%= User.find(@friend.user_id).first_name.capitalize %> — <br>a photo, video, audio, a few words etc.</p>
    <br>
    <i class="center fab fa-telegram-plane fa-5x"></i><br><br><br>
      <%= f.input :media, :multiple => true, input_html: { class: "white" }, label:"Add media:"%>
      <%= f.input :text_content, label: "Add a beautiful message here:" %>
      <%= f.input :user_id, as: :hidden, input_html: {value: @friend.user.id} %>
      <%= f.input :friend_id, as: :hidden, input_html: {value: @friend.id} %>
    <%= f.submit 'Publish', class: "btn" %>
  <% end %>
</div>
