<div id="play-container">

    <%= link_to moments_path do %>
        <i class="carrousel-exit fas fa-times"></i>
    <% end %>

    <%= @current_user.id %>
    <%= @current_user.user_id %>

        <% @moments.each do |moment| %>
            <% if @moment == moment %>
                <% @show_class = 'show-carrousel' %>
            <% else %>
                <% @show_class = 'unshow-carrousel' %>
            <% end %>
            <% if moment.media_type == "video" %>
                <div class="timeline-media play-moments-media <%= @show_class %>">
                        <%= video_tag(moment.media.url, :transformation=>
                {crop: "fit"}, controls: true, preload: 'true', :class => "moments-video moments-media") %>
                    <div class="text-box">
                        <p><%= moment.text_content %></p>
                    </div>
                </div>
            <% elsif moment.media_type == "image" %>
                <div class="timeline-media play-moments-media <%= @show_class %>">
                    <p><%= cl_image_tag(moment.media, :transformation=>
                {crop: "fit"}, :class => "moments-media") %></p>
                    <div class="text-box">
                        <p><%= moment.text_content %></p>
                    </div>
                </div>
            <% else %>
                <div class="timeline-media play-moments-media <%= @show_class %>">
                    <div class="card-product">
                        <div class="card-product-infos">
                            <p><%= moment.text_content %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
</div>
