<h1>timelIne</h1>

<div class="timeline-container">

    <div class="timeline-feed">

        <% @moments.each do |year_and_month, moments| %>

            <div class="timeline-dates">
                <%= year_and_month %>
            </div>

            <div class="timeline-moment-list">

                <% moments.each do |moment| %>

                    <span><%= moment.id %></span>

                    <% if moment.media.present? %>

                        <p>
                        <%= cl_image_tag("#{moment.media.file.public_id}.jpg", :resource_type=>"video") %></p>

                    <% end %>



    <p><%= link_to (cl_image_tag moment.media, :transformation => { :width => 400, :crop => "pad" }), moment_path(moment) %></p>
    <%
%>


                    <p><%= moment.text_content %></p>
                    <p><%= moment.media %></p>
                <% end %>
            </div>
        <% end %>

    </div>
</div>
