<div class="container">

    <h1>Timeline</h1>

    <div class="timeline-container">

        <div class="timeline-feed">

            <% @moments.each do |year_and_month, moments| %>

                <div class="timeline-dates">
                    <h2><%= year_and_month %></h2>
                </div>

                <div class="timeline-moment-list">

                    <% moments.each do |moment| %>

                        <span><%= moment.id %></span>

                        <% if moment.media.present? %>

                            <% if Moment::VIDEO_TYPES.include?(moment.media.file.format) %>
                                <div class="moment-card">
                                    <p><%= cl_image_tag("#{moment.media.file.public_id}.jpg", :resource_type=>"video") %></p>
                                </div>

                                <% elsif Moment::IMG_TYPES.include?(moment.media.file.format) %>

                                    <div class="moment-card">
                                        <%= link_to (cl_image_tag moment.media, :transformation => { :width => 400, :crop => "pad" }), moment_carrousel_path(moment) %>
                                    </div>

                                <% elsif Moment::AUDIO_TYPES.include?(moment.media.file.format) %>

                                    <div class="moment-card">
                                        <p>Audio file TODO: How to display AUDIO?</p>
                                    </div>

                                <% end %>
                        <% end %>

                        <p><%= moment.text_content %></p>
                        <p><%= moment.media %></p>
                    <% end %>
                </div>
            <% end %>

        </div>
    </div>

</div>
