<div class="index-container">

    <h1 class="timeline-title">Timeline</h1>

        <div class="search">
          <%= form_tag moments_path, method: :get, class: "simple-form" do %>
          <%= text_field_tag :query,
            params[:query],
            placeholder: "Try searching for 'Nemo'",
            class: "here"
          %>
            <%= submit_tag "Search", class: "btn-flat" %>
          <% end %>
          </div>
        </div>

        <button type="button" class="btn btn-light" id="video-button">Video</button>
        <button type="button" class="btn btn-light" id="image-button">Image</button>

    <div class="timeline-feed">

        <% @moments.each do |year_and_month, moments| %>
            <% if moments == nil? %>
                    <p>"not enough data"</p>

            <% else %>

                <div id="video-tab" class="unshow">
                    <% @videos.each do |video| %>
                        <div class="moment-card">
                            <%= video_tag("#{video.media.url}", controls: true, preload: 'true', :class => "moments-media") %>
                        </div>
                    <% end %>
                </div>

                <div id="image-tab" class="unshow">
                <% @images.each do |image| %>
                    <div class="moment-card">
                        <%= link_to (cl_image_tag image.media, :transformation => { :width => 300, :crop => "pad" }, :class => "moments-media"), moment_carrousel_path(image) %>
                    </div>
                <% end %>
                </div>


                <div class="timeline-dates">
                    <h2><%= year_and_month %></h2>
                </div>
                <div class="timeline-moment-list" id="default-index">
                    <% moments.each do |moment| %>
                <hr>
                    <% if moment.media.present? %>
                        <% if Moment::VIDEO_TYPES.include?(moment.media.file.format) %>
                            <div class="moment-card">
                                <%= video_tag("#{moment.media.url}", controls: true, preload: 'true', :class => "moments-media") %>
                            </div>
                        <% elsif Moment::IMG_TYPES.include?(moment.media.file.format) %>
                            <div class="moment-card">
                                <%= link_to (cl_image_tag moment.media, :transformation => { :width => 300, :crop => "pad" }, :class => "moments-media"), moment_carrousel_path(moment) %>
                            </div>
                            <% end %>
                        <% end %>
                    <p><%= moment.text_content %></p>
                <% end %>
        <% end %>
    <% end %>
    </div>
    </div>
</div>
