<%= render 'shared/navbar' %>

<div class="index-container">
    <div id="top-container">
        <h1 class="timeline-title">Timeline</h1>
        <div class="search">
            <%= form_tag moments_path, method: :get, class: "simple-form" do %>
            <%= text_field_tag :query,
                params[:query],
                placeholder: "Try searching for 'Nemo'",
                class: "here"
            %>
                <%= submit_tag "Search", class: "btn-flat" %>
            <% end %>
            </div>
            <div id="button-box">
                <button type="button" class="moment-button" id="all-button">All</button>
                <button type="button" class="moment-button" id="video-button">Video</button>
                <button type="button" class="moment-button" id="image-button">Image</button>
                <button type="button" class="moment-button" id="text-button">Words</button>
            </div>
    </div>
    <div id="secondary-tabs" class="unshow">
        <div id="video-tab" class="unshow">
            <% @videos.each do |video| %>
                <% first_video_date = @videos[0].created_at.strftime('%B %Y') %>
                <% if first_video_date != video.created_at.strftime('%B %Y') %>
                    <div class="timeline-dates">
                        <h3><%= video.created_at.strftime('%B %Y') %></h3>
                    </div>
                <% end %>
                <div class="card-product">
                    <%= video_tag(video.media.url, controls: true, preload: 'true', :class => "tab-media") %>
                </div>
            <% end %>
        </div>
        <div id="image-tab" class="unshow">
            <% @images.each do |image| %>
                <% first_image_date = @images[0].created_at.strftime('%B %Y') %>
                <% if first_image_date != image.created_at.strftime('%B %Y') %>
                    <div class="timeline-dates">
                        <h3><%= image.created_at.strftime('%B %Y') %></h3>
                    </div>
                <% end %>
                <div class="moment-card card-product-img-tab">
                    <%= link_to (cl_image_tag image.media, :class => "tab-media"), moment_carrousel_path(image) %>
                </div>
            <% end %>
        </div>
        <div id="text-tab" class="unshow">
            <% @texts.each do |text| %>
                <% first_text_date = @texts[0].created_at.strftime('%B %Y') %>
                <% if first_text_date != text.created_at.strftime('%B %Y') %>
                    <div class="timeline-dates">
                        <h3><%= text.created_at.strftime('%B %Y') %></h3>
                    </div>
                <% end %>
            <div class="card-product">
                <div class="card-product-infos">
                    <p><%= text.text_content %></p>
                </div>
            </div>
        <% end %>
        </div>
    </div>

    <div id="timeline-container-default">
        <% @moments.each do |moment| %>
            <% first_moment_date = @moments[0].created_at.strftime('%B %Y') %>
            <% if first_moment_date != moment.created_at.strftime('%B %Y') %>
                <div class="timeline-dates">
                    <h3><%= moment.created_at.strftime('%B %Y') %></h3>
                </div>
            <% end %>
            <% if moment.media_type == "image" %>
            <div class="card-product default-index">
                <div class="moment-div">
                <%= link_to (cl_image_tag moment.media, :transformation=>
                {crop: "fit"}, :class => "media"), moment_carrousel_path(moment) %>
                </div>
                <div class="card-product-infos">
                    <h2><%= moment.text_content %></h2>
                </div>
            </div>
            <% else moment.media_type == "video" %>
                <div class="card-product default-index">
                    <div class="moment-div">
                        <%= video_tag("#{moment.media.url}", controls: true, preload: 'true', :transformation=>
                        {crop: "fit"}, :class => "media") %>
                    </div>
                    <div class="card-product-infos">
                        <h2><%= moment.text_content %></h2>
                    </div>
                 </div>
            <% end %>
        <% end %>
        </div>
    </div>
