<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>softmind</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
    <%= favicon_link_tag asset_path('butterfly1.png') %>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
